.seller-register-form {
  margin-top: 60px;
  padding: 60px 0;
  border: 1px solid gainsboro;
  border-radius: 15px;
  text-align: center;
}
.seller-register-form > h3 {
  color: #999999;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1px;
}
.seller-register-form > h1 {
  font-size: 40px;
  line-height: 2;
  color: #222222;
  letter-spacing: 1px;
}
.seller-register-form > div:nth-child(3) {
  background-color: var(--primary-color);
  padding: 4px 60px;
  width: 20px;
  margin: auto;
  border-radius: 2px;
}
.seller-register-form > h6 {
  padding-top: 40px;
  font-size: 20px;
  width: 50%;
  margin: auto;
  color: #999999;
}
.seller-register-form-input-box {
  margin: 40px 140px;
  text-align: start;
}
.seller-register-form-input-box > h2 {
  font-size: 26px;
  color: #222222;
  letter-spacing: 0.7px;
  border-left: 4px solid var(--primary-color);
  padding-left: 10px;
  margin-bottom: 20px;
}
.seller-register-form-input-box > div {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
