.product-shop-card {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  margin-bottom: 60px;
  width: 360px;
  border: 2px solid gainsboro;
  border-radius: 15px;
  padding: 10px;
}
.product-shop-card-list {
  display: flex;
  align-self: flex-start;
  width: fit-content;
  border: 2px solid gainsboro;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 60px;
}
.product-shop-card-list > div {
  width: 250px !important;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.product-shop-card-list > div:last-child {
  align-self: center;
  margin-left: 100px;
}
.product-shop-card-list > div:last-child > * {
  width: 100%;
  text-align: start;
}
.product-shop-card-list > div:last-child > div {
  justify-content: flex-start;
}
.product-shop-card-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  height: 200px;
  width: 100%;
  border-radius: 10px;
}
.product-shop-card-image > p {
  background-color: var(--primary-color);
  width: fit-content;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  padding: 5px 10px;
  border-radius: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}
.product-shop-card-text > p,
.product-shop-card-text > h6 {
  text-align: center;
  font-size: 14px;
  color: #999999;
  font-weight: 600;
  width: 80%;
  margin: auto;
}
.product-shop-card-text > h6 {
  font-size: 18px;
  color: #444444;
}
.product-shop-card-text > h4 {
  font-size: 25px;
  text-align: center;
  font-weight: 500;
  color: #444444;
}
.product-shop-card-text > div {
  display: flex;
  padding-top: 10px;
  gap: 4px;
  align-items: center;
  justify-content: center;
}
.product-shop-card-text > div > svg {
  color: #999999;
  width: 25px;
  height: 25px;
}
.product-shop-card-text > div > p {
  color: #999999;
  font-weight: 600;
}
.yellowstars {
  color: #fcca19 !important;
}

@media (max-width: 1600px) {
  .product-shop-card {
    width: 300px;
  }
}
@media (max-width: 1440px) {
  .product-shop-card {
    width: 270px;
  }
}
@media (max-width: 1250px) {
  .product-shop-card {
    width: 300px;
  }
}
@media (max-width: 768px) {
  .product-shop-card {
    width: 100%;
  }
  .product-shop-card-list > div {
    margin-left: 0px;
  }
  .product-shop-card-list > div:last-child {
    margin-left: 0px;
  }
}
