.product-detail-header {
  display: flex;
  gap: 40px;
  margin-top: 70px;
}
.product-detail-left-section {
  width: 75%;
  display: flex;
  gap: 10px;
}
.product-detail-image-slider {
  width: 50%;
}
.product-detail-image {
  background-position: center;
  background-repeat: no-repeat;
  aspect-ratio: 1/1;
  background-size: cover;
  border: 1px solid gainsboro;
  border-radius: 15px;
  padding: 15px;
}
.product-detail-image > p {
  background-color: var(--primary-color);
  width: fit-content;
  font-weight: 500;
  padding: 5px 10px;
  border-radius: 5px;
  color: white;
  font-size: 14px;
  letter-spacing: 1px;
}
.product-detail-slider {
  width: 90%;
  margin: auto;
  margin-top: 20px;
}

.product-detail-slider img {
  width: 70% !important;
  margin: 0 15%;
}
.product-detail-slider button {
  opacity: 1;
  background-image: url("/public/images/next.png");
  background-size: cover;
}
.slick-prev {
  transform: rotate(180deg) translateY(10px) !important;
}
.slick-prev:hover,
.slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  background: url("/public/images/next.png") !important;
  background-size: cover !important;
}
.product-detail-slider button::before {
  content: "" !important;
}
.product-detail-text {
  width: 50%;
}
.product-detail-text-section0 {
  display: flex;
  gap: 10px;
  align-items: center;
}
.product-detail-text-section0 > p {
  background-color: #f1f1f1;
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  color: #999999;
  font-weight: 600;
  font-size: 16px;
}
.product-detail-text > h3 {
  font-size: 26px;
  margin-top: 20px;
  width: 80%;
  color: #444444;
}
.product-detail-text-section1 {
  display: flex;
  margin-top: 20px;
  align-items: center;
}
.product-detail-text-section1 > div {
  display: flex;
  gap: 5px;
  align-items: center;
}
.product-detail-text-section1 > div:first-child > svg {
  fill: #dddddd;
}
.product-detail-text-section1 > div > p,
.product-detail-text-section1 > p {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #999999;
}
.product-detail-text-section1 > div:last-child {
  margin-left: 10px;
  display: flex;
  gap: 20px;
}
.product-detail-text-section1 > div:last-child > svg {
  height: 25px;
  width: 25px;
  color: #999999;
}
.product-detail-text > h4 {
  font-size: 30px;
  font-weight: 500;
  color: #444444;
  margin-top: 20px;
  letter-spacing: 1px;
}
.product-detail-text-section2 {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
.product-detail-text-section2 > div {
  display: flex;
  width: 50%;
  justify-content: space-between;
  margin-top: 15px;
  align-items: center;
}
.product-detail-text-section2 > div > p {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
}
.product-detail-text-section2 > div > div {
  border: 1px solid gainsboro;
  padding: 10px;
  border-radius: 5px;
  width: 50px;
  background-color: skyblue;
}
.product-detail-text-section3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-top: 40px;
}
.product-detail-text-section3 > button:last-child {
  background-color: var(--primary-color);
}
.product-detail-text-section3 > div {
  display: flex;
  padding: 15px 10px;
  width: 30%;
  justify-content: space-evenly;
  border-radius: 10px;
  border: 2px solid gainsboro;
  align-items: center;
}
.product-detail-text-section3 > div > p {
  font-size: 22px;
  font-weight: 600;
}
.product-detail-text-section3 > div > svg {
  width: 20px;
  height: 20px;
  color: #444444;
}
.product-detail-text-section3 > button {
  padding: 18px 50px;
  border-radius: 8px;
  border: none;
  border: 2px solid gainsboro;
  background-color: black;
  width: 50%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.product-detail-text-section3 > button > p {
  font-size: 18px;
  font-weight: 600;
}
.product-detail-text-section3 > button > svg {
  height: 28px;
  width: 28px;
}

.product-detail-right-section {
  width: 25%;
  padding: 30px 20px;
  background: white;
  border: 1px solid gainsboro;
  border-radius: 10px;
  height: fit-content;
}

.product-detail-right-section h3 {
  font-family: inherit;
  font-size: 25px;
  line-height: 1.3em;
  padding-bottom: 20px;
  color: #444444;
}
.product-detail-right-section > h3:nth-child(6) {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid gainsboro;
}
.product-detail-right-section > div {
  margin-top: 20px;
}
.product-detail-right-section > div p {
  font-size: 18px;
  font-weight: 600;
  color: #444444;
  font-weight: 700;
}

.product-detail-right-section1 {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.product-detail-right-section1 p {
  padding-left: 12px;
}

.product-detail-right-section1 {
  padding-bottom: 10px;
}

.product-detail-right-section2 {
  display: flex;
  justify-content: space-between;
}

.product-detail-right-section2 div {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.product-detail-right-section2 p {
  padding-left: 12px;
}
.product-detail-right-section > p {
  font-size: 18px;
  padding-left: 35px;
}

.product-detail-right-section3 {
  display: flex;
  align-items: center;
  font-size: 18px;
}

.product-detail-right-section3 p {
  padding-left: 12px;
}

h3:nth-last-child {
  border-top: 1px solid red;
}

.product-detail-right-section4 {
  display: flex;
  align-items: center;
  font-size: 18px;
  padding-bottom: 20px;
}

.product-detail-right-section4 p {
  padding-left: 12px;
}
.product-detail-content {
  margin-top: 40px;
  display: flex;
}
.product-detail-content-left {
  width: 75%;
}
.product-detail-content-left-section1 {
  display: flex;
  padding: 10px 0;
  align-items: center;
}
.product-detail-content-left-section1 > p {
  font-weight: 600;
  font-size: 20px;
  padding: 10px;
  border-bottom: 2px solid gainsboro;
  color: #999999;
}
.product-detail-content-left-section1 > p:hover {
  cursor: pointer;
}
.product-detail-content-left-section1 > .active {
  color: #444444;
  border-bottom: 3px solid var(--primary-color);
}
.product-detail-content-left-section2 > section {
  padding: 40px;
  background-color: #f2f2f2;
}
.product-detail-content-left-section2 > section > p {
  font-size: 14px;
  font-weight: 600;
  color: #444444;
  line-height: 2;
  padding-bottom: 20px;
}
.product-detail-content-left-section2 > div {
  display: flex;
  align-items: baseline;
  justify-content: center;
  gap: 5px;
  padding-top: 20px;
}
.product-detail-content-left-section2 > div > p {
  font-weight: 600;
  color: #999999;
}

.product-detail-content-left-section3 {
  margin-top: 40px;
}
.product-detail-content-left-section3 > h3 {
  font-size: 20px;
  font-weight: 600;
  color: #444444;
  padding-bottom: 20px;
}
.product-detail-content-left-section3 > div {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 20px;
}
.product-detail-content-right {
  width: 25%;
  margin-left: 40px;
}
.product-detail-content-right-section1 {
  border: 1px solid gainsboro;
  border-radius: 5px;
}
.product-detail-content-right-section1 > div:first-child {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.product-detail-content-right-section1 > div:first-child > img {
  width: 60px;
}
.product-detail-content-right-section1 > div:first-child > div > p {
  font-weight: 700;
  font-size: 14px;
  color: #999999;
}
.product-detail-content-right-section1 > div:first-child > div > h6 {
  font-size: 18px;
  color: #444444;
}
.product-detail-content-right-section1 > div:nth-child(2) {
  display: flex;
  justify-content: center;
  gap: 10px;
}
.product-detail-content-right-section1 > div:nth-child(2) > div {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 15px;
  border-right: 1px solid gainsboro;
  height: 100px;
  justify-content: space-between;
}
.product-detail-content-right-section1 > div:nth-child(2) > div > p {
  font-weight: 700;
  color: #999999;
  font-size: 13px;
}
.product-detail-content-right-section1 > div:nth-child(2) > div > h6 {
  font-size: 22px;
  font-weight: 500;
}
.product-detail-content-right-section1 > button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px;
  border: none;
  outline: none;
  border-top: 1px solid gainsboro;
  color: #444444;
  margin-top: 10px;
}
.product-detail-content-right-section2 {
  margin-top: 30px;
}
.product-detail-content-right-section2 > h3 {
  color: #444444;
  font-size: 18px;
  font-weight: 600;
}
.product-detail-content-right-section2 > div {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (max-width: 1250px) {
  .product-detail-header {
    flex-direction: column;
  }
  .product-detail-header > div {
    width: 100%;
  }
  .product-detail-content {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    gap: 40px;
  }
  .product-detail-content > div {
    width: 100%;
  }
}
@media (max-width: 1024px) {
  .product-detail-header > div > div:last-child h3 {
    font-size: 16px;
  }
  .product-detail-header > div > div:last-child p {
    font-size: 13px;
  }
  .product-detail-header > div > div:last-child h4 {
    font-size: 14px;
  }
  .product-detail-header > div > div:last-child select {
    font-size: 13px;
  }
  .product-detail-header > div > div:last-child button {
    padding: 5px;
  }
}
@media (max-width: 768px) {
  .product-detail-header > div {
    display: flex;
    flex-direction: column;
  }
  .product-detail-header > div > div {
    width: 100%;
  }
  .product-detail-header > div:last-child h3 {
    font-size: 16px;
  }
  .product-detail-header > div:last-child p {
    font-size: 13px;
  }
  .product-detail-content h3 {
    font-size: 16px;
  }
}
